<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Movie Finder OMDb</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header class="body-background">

    <nav class="navbar-bottom navbar navbar-expand-lg navbar-dark fixed-top">

        <div class="container">

            <a class="navbar-brand"><h3 class='my-auto'><span class="navbar-bottom">Movie Finder OMDb</span></h3></a>
        </div>
    </nav>

</header>

<div class="error-404 text-center">

    <h1 class="text-white">Error 404<i class="fas fa-exclamation-triangle"></i></h1>

    <h1 class="text-white h3-responsive">Resource Does Not Exist</h1>
    <a type="button" class="btn btn-lg btn-dark btn-rounded" href="/">Go Back</a>

</div>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous"></script>

<footer class="text-center text-white fixed-bottom" style="background-color: #2c2f34;">
    <div class="container p-4"></div>

    <div class="text-center p-3" style="background-color: #2c2f34">
        © 2022<a class="text-white" href="https://github.com/Manes79" target="_blank" rel="noreferrer">pl.manes</a>
    </div>
</footer>

</body>
</html>
