<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Movie Finder OMDb</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mdb.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header class="body-background">
    <nav class="navbar-bottom navbar navbar-expand-lg navbar-dark fixed-top">

        <div class="container"><span class="h2">Movie Finder OMDb</span></div></nav>
</header>


<div class="error-404 text-center">

    <h1 class="text-white">Error 404<i class="fas fa-exclamation-triangle"></i></h1>

    <h1 class="text-white h3-responsive">Resource Does Not Exist</h1>
    <a type="button" class="btn btn-lg btn-dark btn-rounded" href="/">Go Back</a>

</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</body>
</html>